@tailwind base;
@tailwind components;
@tailwind utilities;


.not-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
}

.customer-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.customer-menu__item a {
    margin: auto 2rem;
}

.customer-menu__item a:hover,
.customer-menu__item a:focus {
    text-decoration: underline;
}

.background-image
{
    background-image: url('https://cdn.pixabay.com/photo/2017/07/31/23/45/pen-2562078_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
